.row{   

    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    justify-content: space-around;

}
.link{
    text-decoration: none;
    color:white;
    margin-top:20px
    ;
}
.headshot{
    width:15%;
   border-radius:50%
    
} 
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:40px;
    margin-top:5px;
    margin-bottom:5px;

}
.aboutme{
    border:1px solid black; 
    height: auto;
}
